img {
	height: 150px;
	width: 200px;
	border: 2px solid black;
	}
img {
	position: relative;
	left: 102px;
	top: 85px
	}
td.frame {
	border: 2px solid black;
	height: 600px;
	width: 1000px;
	}
table.frame {
	position: relative;
	left: 100px;
	bottom: 75px;
	}
p.edit {
	position: relative;
	left: 350px;
	bottom: 680px;
	border: 1px solid blue;
	width: 30px;
	padding: 4px 4px 4px 4px;
	}
p.profile {
	position: relative;
	left: 400px;
	bottom: 635px;
	border: 1px solid blue;
	width: 50px;
	padding: 4px 4px 4px 4px;
	}
p.my_network {
	position: relative;
	left: 470px;
	bottom: 725px;
	border: 1px solid blue;
	width: 120px;
	padding: 4px 4px 4px 4px;
	}
p.gallery {
	position: relative;
	left: 610px;
	bottom: 770px;
	border: 1px solid blue;
	width: 80px;
	padding: 4px 4px 4px 4px;
	}
p.calendar {
	position: relative;
	left: 710px;
	bottom: 815px;
	border: 1px solid blue;
	width: 100px;
	padding: 4px 4px 4px 4px;
	}

