img {
	height: 150px;
	width: 200px;
	border: 2px solid black;
	}
img {
	position: absolute;
	left: 102px;
	top: 85px
	}
div.frame {
	position: relative;
	left: 94px;
	top: 77px;
	z-index: -1;
	border: 2px solid black;
	background-color: white;
	height: 600px;
	width: 1000px;
	}
div.background {
	position: absolute;
	bottom: 10px;
	height: 1500px;
	width: 1500px;
	z-index: -2;
	background-color: #C8C8C8;
	}
p.edit {
	position: relative;
	left: 310px;
	bottom: 580px;
	border: 1px solid blue;
	width: 30px;
	padding: 4px 4px 4px 4px;
	}
p.profile {
	position: relative;
	left: 360px;
	bottom: 535px;
	border: 1px solid blue;
	width: 50px;
	padding: 4px 4px 4px 4px;
	}
input.cphone {
	position: relative;
	left: 430px;
	bottom: 625px;
	border: 1px solid blue;
	width: 110px;
	padding: 4px 4px 4px 4px;
	}
p.gallery {
	position: relative;
	left: 570px;
	bottom: 670px;
	border: 1px solid blue;
	width: 80px;
	padding: 4px 4px 4px 4px;
	}
p.calendar {
	position: relative;
	left: 670px;
	bottom: 715px;
	border: 1px solid blue;
	width: 100px;
	padding: 4px 4px 4px 4px;
	}
h3.name {
	position: relative;
	left: 450px;
	bottom: 700px;
	}
h5.info {
	position: relative;
	left: 450px;
	bottom: 720px;
	width: 120px;
	}

